In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb 
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score,plot_confusion_matrix
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("D:\\Lectures\\Majors\\cse 498\\Cse-498-Depression-Dataset-and-Code\\BDI_Scores.csv") ## dataset imported

In [3]:
def HyperParameterTune(clf, param_grid, x_train, y_train):
    grid = GridSearchCV(clf, param_grid, cv=10, scoring='accuracy')
    grid.fit(x_train,y_train)
    print(grid.best_score_)
    print(grid.best_params_)
    print(grid.best_estimator_)

In [4]:
def randomForestGridSearch(x_train, y_train):
    n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
    # Number of features to consider at every split
    max_features = ['auto', 'sqrt']
    # Maximum number of levels in tree
    max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
    max_depth.append(None)
    # Minimum number of samples required to split a node
    min_samples_split = [2, 5, 10]
    # Minimum number of samples required at each leaf node
    min_samples_leaf = [1, 2, 4]
    # Method of selecting samples for training each tree
    bootstrap = [True, False]# Create the random grid
    random_grid = {'n_estimators': n_estimators,
                   'max_features': max_features,
                   'max_depth': max_depth,
                   'min_samples_split': min_samples_split,
                   'min_samples_leaf': min_samples_leaf,
                   'bootstrap': bootstrap}
    # Use the random grid to search for best hyperparameters
    # First create the base model to tune
    rf = RandomForestClassifier()
    # Random search of parameters, using 3 fold cross validation, 
    # search across 100 different combinations, and use all available cores
    rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)# Fit the random search model
    rf_random.fit(x_train, y_train)
    return (rf_random.best_estimator_)

## Basic information of the dataset

In [5]:
df.groupby('Gender').size()

Gender
0    231
1    241
dtype: int64

In [6]:
df.groupby('Classification').size()

Classification
Low         181
Moderate    173
Severe      118
dtype: int64

In [7]:
df.isnull().values.any() ## checking missing data

False

In [8]:
df.head()

,Email Address,Gender,Age,Degree,Year,Discipline,Marital Status,Father's profession,Mother's profession,Income,...,Worthlessness,Loss of Energy,Changes in Sleeping Pattern,Irritability,Changes in Appetite,Concentration Difficulty,Tiredness or Fatigue,BDI Score,Classification,Level of depression
0,Shadman.saqif@northsouth.edu,0,25,0,4,0,0,5,6,1,...,3,1,1,2,1,2,0,32,Severe,4
1,maliha.naz.deh@ulab.edu.bd,1,23,0,2,1,0,3,6,1,...,2,1,2,3,1,1,2,38,Severe,4
2,zarin.tasneem17@northsouth.edu,1,23,0,3,2,0,2,6,1,...,3,2,3,3,3,2,3,42,Severe,5
3,ehat.mahdin@northsouth.edu,0,23,0,3,0,0,3,6,1,...,1,2,2,1,2,1,1,27,Moderate,3
4,throwaway28145@protonmail.com,0,22,0,3,0,0,0,6,1,...,2,2,1,3,3,2,1,34,Severe,4

In [10]:
df.drop_duplicates(inplace=True)
df.shape

(468, 33)